@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 700 ;
    user-select: none;
    pointer-events: none;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: cyan;
}

.container {
    height: 100vh;
    background: linear-gradient(90deg, #fff 32vw, #031540 0);
    position: absolute;
    width: 100%;
}

    
.home {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
  
.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 425px;
    height: 425px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid #fff;
    outline: 25px solid #031540;
}

.home-image:active {
    animation: glow 1s;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 15px 35px whitesmoke;
    } 100% {
        box-shadow: none;
    }
}

.home-image img {
    position: relative;
    max-width: 450px;
    border-radius: 50%;
    margin-bottom: 84px;
    cursor: pointer;
}

.home-content {
    max-width: 600px;
    color: white;
    text-align: right;
}

.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
    user-select: none;
    pointer-events: none;
    -webkit-text-stroke: 1px #031540;
}

.home-content h3 {
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    user-select: none;
    pointer-events: none;
    background-image: linear-gradient(cyan, cyan);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -500px 0;
    animation: animatetext 6s linear infinite;
}

@keyframes animatetext {

    0%,
    95%,
    100% {
        background-position: -500px 0;
    }

    65%, 85% {
        background-position: 0 0;
    }
}

.home-content p {
    font-size: 16px ;
    margin-top: 20px;
    -webkit-text-stroke: 1px #031540;
}
.home-sci {
    margin: 25px 0 40px;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 25px;
    color: cyan;
    margin-left: 12px;
    transition: .3s;
}

.home-sci a:hover {
    background: cyan;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.btn {
    padding: 12px 25px;
    background: cyan;
    border-radius: 40px;
    font-size: 17px;
    transition: .3s;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px cyan;
}

.btn:hover {
    box-shadow: none;
}
